@import url(./variable.less);

.main {
  background: url(https://ossweb-img.qq.com/upload/webplat/info/yxzj/20221221/734241514592878.jpg) no-repeat center top;

  .link {
    display: block;
    height: 440px;
    margin: 8px auto 12px;
  }

  .wrapper_1200 {
    width: 1200px;
    margin: 0 auto;

    .section-news {
      position: relative;
      display: flex;
      height: 342px;
      background: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/rotate_bg.png) no-repeat left top;

      .banner {
        width: 605px;

        .image-list {
          display: flex;
          width: 604px;
          overflow: hidden;

          .item {
            width: 100%;
            flex-shrink: 0;

            a {
              display: block;

              img {
                width: 100%;
              }
            }
          }
        }

        .title-list {
          display: flex;
          height: 44px;
          line-height: 44px;

          .item {
            flex: 1;
            text-align: center;

            a {
              display: block;
              color: #b1b2be;
            }

            &.active a,
            a:hover {
              color: #f3c258;
              background-color: rgba(255,255,255,.15);
            }
          }
        }
      }

      .news {
        flex: 1;
        padding: 0 17px;
        overflow: hidden;

        .title-list {
          display: flex;
          height: 48px;
          line-height: 48px;
          border-bottom: 1px solid #000;

          .item {
            width: 52px;
            text-align: center;

            a {
              display: block;
              color: #b8b9c5;
              height: 48px;
              box-sizing: border-box;
              transition: border-bottom 200ms ease-in;
            }

            &.active a,
            &:not(.more) a:hover {
              color: #f3c258;
              border-bottom: 3px solid #f3c258;
            }

            &.more a {
              line-height: 40px;
            }
          }
        }

        .notice {
          height: 36px;
          line-height: 36px;
          margin-top: 18px;
          padding: 0 15px;
          background: #414046;

          a {
            display: block;
            font-size: 18px;
            color: #f3c258;
          }
        }

        .news-list {
          margin-top: 12px;

          .item {
            display: flex;
            align-items: center;
            margin-bottom: 11px;
            color: #999;

            .desc {
              flex: 1;
              color: inherit;  
            }

            .date {
              padding: 0 8px;
              font-size: 12px;
            }
          }
        }
      }

      .download {
        width: 236px;
        background-color: skyblue;
        
        a {
          display: block;
          background: url(../img/main_sprite.png) no-repeat;

          &.download-btn {
            position: relative;
            height: 128px;
            background-position: 0 -219px;
            overflow: hidden;

            @keyframes lightmove {
              0% {
                top: -120px;
                left: -150px;
              }
              100% {
                top: 120px;
                left: 150px;
              }
            }

            .download-btn-ani {
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 300px;
              height: 50px;
              background-color: rgba(255,255,255,0.8);
              transform: rotate(-45deg);
              animation: lightmove 1.6s ease-in infinite;
              filter: blur(32px);
            }
          }

          &.guard-btn {
            height: 106px;
            background-position: 0 -350px;
          }

          &.experience-btn {
            height: 108px;
            background-position: 0 -461px;
          }
        }
      }

      .shiling {
        position: absolute;
        top: 0;
        right: -58px;
        width: 53px;
        height: 68px;
        background: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/shiling.png);
        cursor: pointer;
      }

      .fangchenmi {
        position: absolute;
        top: 78px;
        right: -58px;
        width: 53px;
        height: 47px;
        background-image: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/fanchenmi.png);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }

    .section-entrance {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .item {
        width: 291px;
        height: 134px;
      }

      a {
        display: block;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: transform 400ms ease;
        }
        
        &:hover img {
          transform: scale(1.1);
        }
      }
    }

    .section-content {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      
      .left {
        width: @section-inner-left-width;
      }

      .right {
        width: @section-inner-right-width;
      }
    }
  }
}

.right-fixed-nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  /* margin-top: -240px; */
  right: 0;
  width: 254px;
  height: 494px;

  .right-dj {
    position: absolute;
    top: 15px;
    left: 24px;
    z-index: 2;
    width: 165px;
    height: 145px;
    background: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/floatwindow/r_dj.png) no-repeat top center;

    p {
      position: absolute;
      top: 37px;
      left: 12px;
      width: 88px;
      height: 36px;
      font-size: 14px;
      text-indent: 2px;
      font-weight: bold;
      line-height: 18px;
      color: #62401b;
      overflow: hidden;

      &:last-child {
        top: 57px;
      }
    }
  }

  .right-list {
    pointer-events: auto;
    position: absolute;
    top: 160px;
    left: 85px;

    .item {
      position: relative;
      width: 117px;
      height: 38px;
      background: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/floatwindow/r_all2022.png) no-repeat;

      a {
        display: block;
        height: 100%;
      }

      img {
        border: 0;
        border-radius: 2px 2px 2px 2px;
      }

      &.weibo {
        background-position: -122px -120px;
        &:hover {
          background-position: -122px -240px;
        }
      }

      &.gzh {
        background-position: -122px -160px;
        &:hover {
          background-position: -122px -200px;
        }
      }
      
      &.sph {
        background-position: -122px 0;
        &:hover {
          background-position: -122px -42px;
        }
      }
    }

    .item.code {
      height: 132px;
      text-align: center;
      padding-top: 2px;
      background-position: -243px 0;

      img {
        width: 107px;
        height: 107px;
      }
    }

    .item .hover-qrcode {
      display: none;
      opacity: 0;
      position: absolute;
      top: -66px;
      left: -116px;
      width: 115px;
      height: 144px;
      background-image: url(https://game.gtimg.cn/images/yxzj/web201706/images/comm/floatwindow/r_all2022.png);
      background-position: 0 -416px;
      padding-top: 7px;

      img {
        display: block;
        width: 101px;
        height: 101px;
        margin: 0 auto;
        margin-bottom: 6px;
      }

       p {
        width: 101px;
        height: 34px;
        line-height: 17px;
        color: #dcdcdc;
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        overflow: hidden;

        span {
          color: #cd974b;
        }
      }
    }

    .item:hover .hover-qrcode {
      display: block;
      animation: hoverQRCodeAnim 300ms ease-in forwards;
    }

    @keyframes hoverQRCodeAnim {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}